body {
  font-family: 'Poppins', sans-serif;
  margin: 80px 25px 0 25px;
  font-size: 15px;
  background-color: #f8f8f8;
}

.description-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
  
}

.descriptions {
  max-width: 528px;
}

.heading {
  font-weight: 200;
  margin-bottom: 2px;
  color: #4c4e61;
  font-size: 1.7em;
}

.sub-heading {
  margin: 0;
  color: #4c4e61;
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .heading {
    font-size: 2.2em;
  }

  .sub-heading {
    font-size: 2.3em;
  }
}

.description-container p {
  color: #a3a5ae;
}

.cards-container {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


@media (min-width: 730px) {
  .cards-container {
    justify-content: space-evenly;
    margin: auto;
    max-width: 900px;
  }
}

@media (min-width: 1440px) {
  .cards-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
      "supervisor-card team-builder-card calculator-card"
      "supervisor-card karma-card calculator-card";
    justify-items: center;
    align-items: center;
    grid-gap: 0 30px;
    max-width: 970px;
  }
}

.card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  padding: 18px;
  border-top: solid 4px;
  margin-bottom: 25px;
  box-shadow: 0px 6px 20px grey;
  width: 100%;
  max-width: 340px;
  margin-right: 12px;
  margin-left: 12px;
}

.image-container {
  text-align: right;
}

.supervisor-card {
  border-top-color: #45d3d3;
  grid-area: supervisor-card;
}

.team-builder-card {
  border-top-color: #ea5353;
  grid-area: team-builder-card;
}

.karma-card {
  border-top-color: #fcaf4a;
  grid-area: karma-card;
}

.calculator-card {
  border-top-color: #549ef2;
  grid-area: calculator-card;
}

.card h3,p {
  margin: 0;
}

.card h3 {
  color: #4c4e61;
}

.card p {
  margin-bottom: 44px;
  color: #a3a5ae;
}

.card img {
  margin-left: 220px;
}
