body {
  font-family: 'Poppins', sans-serif;
  margin: 80px 25px 0 25px;
  font-size: 15px;
  background-color: #f8f8f8;
}

.description-container {
  text-align: center;
  margin-bottom: 64px;
}

.heading {
  font-weight: 200;
  margin-bottom: 2px;
  color: #4c4e61;
  font-size: 1.7em;
}

.sub-heading {
  margin: 0;
  color: #4c4e61;
  font-size: 1.8em;
}

.description-container p {
  color: #a3a5ae;
}

.cards-container {
  margin-bottom: 80px;
  display: flex;
  flex-flow: row wrap;
}

.card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
  border-radius: 8px;
  padding: 18px;
  border-top: solid 4px;
  margin-bottom: 25px;
  box-shadow: 0px 6px 20px grey;
  width: 100%;
  max-width: 340px;
}

.supervisor-card {
  border-top-color: #45d3d3;
}

.team-builder-card {
  border-top-color: #ea5353;
}

.karma-card {
  border-top-color: #fcaf4a;
}

.calculator-card {
  border-top-color: #549ef2;
}

.card h3,p {
  margin: 0;
}

.card h3 {
  color: #4c4e61;
}

.card p {
  margin-bottom: 44px;
  color: #a3a5ae;
}

.card img {
  margin-left: 220px;
}
